* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    --text-color: #ecf9fb;
    --secondary-text-color: #b0bac5;
    --third-text-color: #787f87;
    --bg-color: #0c0d15;
	--secondary-bg-color: #181925;
    --third-bg-color: #232637;
    --accent-color: #5b63d3;
    --darker-accent-color: #4c52af;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--text-color);
	min-height: 100dvh;
    background-color: var(--third-bg-color);
}

ol,ul {
    list-style: none;
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 0.2s;

	& > svg {
		fill: var(--secondary-text-color);
		transition: fill 0.2s;
	}

    &:hover {
        color: var(--text-color);

		& > svg {
			fill: var(--text-color);
		}
    }
}

button {
	cursor: pointer;
}

label {
	cursor: pointer;
}

.button {
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 50px;
}

.secondary-button {
    color: var(--secondary-text-color);
    border: 2px solid var(--secondary-text-color);
    transition: border-color 0.2s, color 0.2s;
    background-color: transparent;

    &:hover {
        color: var(--text-color);
        border-color: var(--text-color)
    }
}

.main-button {
    background-color: var(--accent-color);
    color : var(--text-color);
    border: 2px solid rgba(255, 255, 255, 0.11);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--darker-accent-color);
    }
}
